extends layout

block content
   h1 #{title}: #{author.name}
   p #{author.lifespan}

   if authorsBooks.length
      p.alert.alert-warning(role='alert') #[strong Delete the following books before attempting to delete this author.]

      div(style='margin-left:20px;margin-top:20px')
         h4 Books

         dl
            each book in authorsBooks
               dt
                  a(href=book.url) #{book.title}
               dd #{book.summary}

   else
      p.alert.alert-danger(role='alert') #[strong Do you really want to delete this Author?]

      form(method='POST', action='')
         div.form-group
            //- example of hidden field for client to controller data passing
            input#authorId.form-control(type='hidden', name='authorId', required='true', value=author._id)

         button.btn.btn-danger(type='submit') Delete

   include validationErrors.pug
