extends layout

block content
   h1= title

   form(method='POST', action='')
      div.form-group
         label(for='books') Book:
         select#books.form-control.custom-select(name='book', required=true, multiple)
            each book in books
               if bookinstance
                  option(value=book._id, selected=book._id.toString() === bookinstance.book.toString()) #{book.title}
               else
                  option(value=book._id) #{book.title}

      div.form-group
         label(for='imprint') Imprint:
         input#imprint.form-control(type='text', placeholder='Publisher and date information', name='imprint', required=true, value=bookinstance === undefined ? '' : bookinstance.imprint)

      div.form-group
         label(for='dueBack') Date when book available
         input#dueBack.form-control(type='date', name='dueBack', value=bookinstance === undefined ? '' : bookinstance.due_back_iso8601)   

      div.form-group
         label(for='status') Status:
         select#status.form-control.custom-select(name='status', required=true, multiple)
            option(value='Maintenance', selected=bookinstance ? bookinstance.status === 'Maintenance' : false) Maintenance
            option(value='Available', selected=bookinstance ? bookinstance.status === 'Available' : false) Available
            option(value='Loaned', selected=bookinstance ? bookinstance.status === 'Loaned' : false) Loaned
            option(value='Reserved', selected=bookinstance ? bookinstance.status === 'Reserved' : false) Reserved

      input#tzo.form-control(type='hidden', name='tzoffset', value=new Date().getTimezoneOffset())

      button.btn.btn-primary(type='submit') Submit

   include validationErrors.pug
