extends layout

block content
   h1 #{title}: #{book.title}

   p #[strong Author:] 
      a(href=book.author.url) #{book.author.name}
   p #[strong Summary:] #{book.summary}
   p #[strong ISBN:] #{book.isbn}
   p #[strong Genre:]&nbsp;
      each genre, idx in book.genre
         if idx > 0
            | , 
         a(href=genre.url) #{genre.name}

   div(style='margin-left:20px;margin-top:20px')
      h4 Copies

      each bookInstance in bookInstances
         include dumpBookinstance.pug
      else
         p There are no copies of this book in the library

   br
   br
   a.btn.btn-warning(href=`${book.url}/delete`) Delete
