p #[strong Author:] 
   a(href=book.author.url) #{book.author.name}
p #[strong Summary:] #{book.summary}
p #[strong ISBN:] #{book.isbn}
p #[strong Genre:]&nbsp;
   each genre, idx in book.genre
      if idx > 0
         | , 
      a(href=genre.url) #{genre.name}