hr

if bookInstance.status === 'Available'
   p.text-success #{bookInstance.status}
else if bookInstance.status === 'Maintenance'
   p.text-danger #{bookInstance.status}
else
   p.text-warning #{bookInstance.status}

p #[strong Imprint:] #{bookInstance.imprint}

if bookInstance.status !== 'Available'
   p #[strong Due back:] #{bookInstance.due_back_formatted}

p #[strong Id:]&nbsp;
   a(href=bookInstance.url) #{bookInstance._id}
